<!DOCTYPE html>
<html lang="en">
<head>
   <title> User_gamess | Create </title>
   <link rel="stylesheet" href="form_style.css">
</head>
<body>
    <div class =container>
    <form method="POST" action="/user_gamess">
        <label for="user_name">Username</label>
        <br />
        <input type="text" name="user_name" />
        <br />

        <label for="password">Password</label>
        <br />
        <input type="text" name="password" />
        <br />

        <button type="submit">Biodata</button>
    </form>
</div>
</body>
</html>