<html>
<head>
<title>User_gamess| All</title>
</head>
<body>
<% User_gamess.forEach(i => { %>
<div>
<h2><%= i.time_played %></h2>
<p><%= i.date %></p>
<p><%= i.user_id %></p>
<a href="/User_gamess/<%= i.id %>">More detail</a>
</div>
<% }) %>
</body>
</html>